// Navigation code here

.nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .nav-bar {
        display: flex;
        position: fixed;
        overflow: hidden;
        opacity: 2;

        nav {
            justify-content: center;

            a {
                margin-right: 20px;
                color: black;
                .nav-transform();
            }  
        }
    }
}